.foundation-container {
    position: relative;
    height: 100vh;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.foundation-stop-search {
  position: absolute;
  inset: 0;
  z-index: 10;
  pointer-events: none;
  display: flex;
  opacity: 0;
  transform: translateY(20%);         /* start slightly off-screen */
  transition: 0.4s ease;
  width: 100vw !important;
  background-color: white;
}

.foundation-center{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.foundation-search-btn {
  width: 100px;
  background-color: orange;
  color: white;
}

/* --- Active (visible) state --- */
.foundation-stop-search.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}