.homepage-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden !important;
}

.homepage-stop {
  background-color: var(--main-50);
  display: flex;
  justify-content: space-between;
  width:98%;
  text-align: left;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  height: 6%;
  margin: 1vw;
  align-items: center;
  border-radius: 12px;
  color: var(--main-100);
  font-weight: bold;
  border: 2px solid var(--main-100);
}

.homepage-edit-menu {
  display: flex;
  justify-content: space-evenly;
  height: 95%;
}

.homepage-delete-btn {
  background-color: var(--red);
  color: var(--white);
  border-radius: 12px;
  aspect-ratio: 1 / 1;
  margin-left: 10px;
}

.homepage-delete-btn:disabled {
  background-color: var(--grey-30);
  color: var(--grey-50);
}

.homepage-edit-btn {
  background-color: var(--secondary-30);
  color: var(--secondary-50);
  height: 100%;
  border-radius: 12px;
  aspect-ratio: 1 / 1;
  margin-left: 10px;
}

.homepage-edit-btn:disabled {
  background-color: var(--grey-30);
  color: var(--grey-50);
}

.homepage-menu {
  display: flex;
  flex-direction: row;
  gap: 8px;
  height: 8vh;
  margin-left: 16px;
  margin-bottom: 16px;
  margin-right: 16px;
  margin-top: 8px;
}

.homepage-menu-btn {
  width: 30vw;
  border-radius: 8px;
  background-color: var(--secondary-30);
  color: var(--secondary-100);
  font-weight: bold;
}

.homepage-menu-btn:disabled {
  width: 30vw;
  background-color: var(--grey-30);
}

.homepage-menu-search-btn {
  width: 40vw;
  background-color: var(--main-50);
  color: var(--main-100);
  border-radius: 8px;
  font-weight: bold;
}

.homepage-menu-search-btn:disabled {
  width: 40vw;
  background-color: var(--grey-30);
  color: var(--grey-100);
}

.homepage-list {
  height: 92vh;
  overflow: scroll;
  background-color: var(--main-05);
  margin-left: 16px;
  margin-bottom: 8px;
  margin-right: 16px;
  margin-top: 16px;
  border: black solid 1px;
  border-radius: 16px;
}

.homepage-center{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.homepage-stop-search {
  position: absolute;
  inset: 0;
  z-index: 10;
  pointer-events: none;
  opacity: 0;
  transform: translateY(20%);
  transition: opacity 0.4s ease, transform 0.4s ease;
  width: 100vw !important;
  height: 0vh;
  background-color: var(--primary-color);
}

.homepage-stop-search.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  height: 100vh;
}