.homepage-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden !important;
}

.homepage-stop {
  display: flex;
  justify-content: space-between;
  width:98%;
  text-align: left;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 5px;
  height: 6%;
  margin: 1vw;
  align-items: center;
  border: 1px solid black;
  border-radius: 6px;
}

.homepage-edit-menu {
  display: flex;
  justify-content: space-evenly;
  height: 95%;
}

.homepage-delete-btn {
  background-color: red;
  color: white;
  border-radius: 5px;
  aspect-ratio: 1 / 1;
  margin-left: 10px;
}

.homepage-delete-btn:disabled {
  background-color: grey;
}

.homepage-edit-btn {
  background-color: orange;
  color: white;
  height: 95%;
  border-radius: 5px;
  aspect-ratio: 1 / 1;
  margin-left: 10px;
}

.homepage-edit-btn:disabled {
  background-color: grey;
}

.homepage-menu {
  display: flex;
  flex-direction: row;
  height: 8vh;
}

.homepage-menu-btn {
  width: 30vw;
  margin: 8px;
  border-radius: 8px;
  background-color: white;
}

.homepage-menu-btn:disabled {
  width: 30vw;
  background-color: grey;
}

.homepage-menu-search-btn {
  width: 40vw;
  background-color: orange;
  color: white;
  margin: 8px;
  border-radius: 8px;
}

.homepage-menu-search-btn:disabled {
  width: 40vw;
  background-color: grey;
}

.homepage-list {
  height: 92vh;
  overflow: scroll;
  background-color: white;
  margin: 5px;
  border: black solid 1px;
  border-radius: 8px;
}

.homepage-center{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.homepage-search-btn {
  width: 100px;
  background-color: orange;
  color: white;
}

.homepage-stop-search {
  position: absolute;
  inset: 0;
  z-index: 10;
  pointer-events: none;
  opacity: 0;
  transform: translateY(20%);
  transition: opacity 0.4s ease, transform 0.4s ease;
  width: 100vw !important;
  height: 0vh;
  background-color: white;
}

.homepage-stop-search.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  height: 100vh;
}