.inputpad-container {
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.inputpad-num-container {
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-right: 2px;
}

.foundation-num-0 {
    grid-column: 1 / span 3;
}

.inputpad-chr-container {
    width: 25%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 4px;
    padding-left: 2px;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-right: 4px;
}

.inputpad-button {
    background-color: var(--secondary-30);
    color: var(--secondary-50);
    font-size: large;
    font-weight: bold;
    border-radius: 4px;
}

.inputpad-num-container .inputpad-button {
    height: 100%;
    width: 100%;
}

.inputpad-chr-container .inputpad-button {
    height: calc(25% - 3px);
    flex-shrink: 0;
}

.inputpad-button:disabled {
    background-color: var(--grey);
}

::-webkit-scrollbar {
width: 5px;
}

::-webkit-scrollbar-track {
box-shadow: transparent; 
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
background: black; 
border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
background: grey; 
}