.setting-container {
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.setting-title {
  color: var(--grey-100);
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
}

.setting-config {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.setting-solid {
    border-top: 3px solid var(--grey-100);
    width:90%;
}

.setting-delete-btn {
    background-color: var(--red);
    color: var(--white);
    padding: 4px;
    border-radius: 8px;
}

.setting-center-text {
    text-align: center;
}