.stop-display-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.stop-display-section-1 {
    height: 5%;
    min-height: 37px;
    padding: 4px;
}

.stop-display-section-2 {
    width: 100%;
    height: 95%;
    padding: 4px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow: auto;
}

.stop-display-stop-text {
    margin-top: auto;
    margin-bottom: auto;
}

.stop-display-return-btn {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    background-color: orange;
    color: white;
}

.stop-display-btn-list {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.stop-display-stop {
    display: flex;
    background-color: white;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    width: 100%;
    justify-content: space-between;
    height: 5vh;
}

.stop-display-stop-btn:hover {
    background-color: lightgrey;
}

.stop-display-btn {
    background-color: orange;
    color: white;
    font-weight: bold;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 4px;
}

.stop-display-stop-btn:disabled {
    background-color: grey;
    color: darkgrey;
}

.stop-display-stop-ETA {
    padding-left: 20px;
    padding-right: 20px;
    height: 5vh;
}