.stop-searcher-container {   
    display: flex;
    flex-direction: column;  
    width: 100%;
    height: 100%;
    background-color: white;;
}

.stop-searcher-section-1 {
    height: 5vh;
    width: 100vw;
    padding: 4px;
}

.stop-searcher-s1-container{
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.stop-searcher-exit-btn {
    width: 100px;
    height: 100%;
    border-radius: 5px;
    background-color: orange;
    color: white;
}

.stop-searcher-search-number {

}

.stop-searcher-section-2 {
    height: 45vh;
    width: 100vw;
    padding: 4px;
}

.stop-searcher-s2-container {
    border-radius: 5px;
    overflow: scroll;
    border: 1px solid black;
    border-radius: 5px;
    height: 100%;
}

.stop-searcher-section-3 {
    height: 50vh;
    padding: 4px;
}

.stop-searcher-route-btn {
    width: 100%;
    background-color: white;
    text-align: left;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    height: 10%;
    margin-bottom: 4px;
    border: 1px solid black;
}

.stop-searcher-route-btn:hover {
    background-color: lightgrey;
}

.stop-searcher-route-btn:disabled {
    background-color: grey;
    color: darkgrey;
}
