.stop-searcher-container {   
    display: flex;
    flex-direction: column;  
    width: 100%;
}

.stop-searcher-section-1 {
    height: 5vh;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.stop-searcher-exit-btn {
    height: 100%;
    width: 100px;
    background-color: orange;
    color: white;
}

.stop-searcher-search-number {

}

.stop-searcher-section-2 {
    max-height: 45vh;
    min-height: 45vh;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: scroll;
}

.stop-searcher-route-btn {
    background-color: white;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}

.stop-searcher-route-btn:hover {
    background-color: lightgrey;
}

.stop-searcher-route-btn:disabled {
    background-color: grey;
    color: darkgrey;
}
