.stop-searcher-container {   
    display: flex;
    flex-direction: column;  
    width: 100%;
    height: 100%;
    background-color: var(--secondary-100);
}

.stop-searcher-section-1 {
    height: 50px;
    min-height: 37px;
    padding: 4px;
    width: calc(100vw-32px);
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 4px;
}

.stop-searcher-s1-container{
    background-color: var(--main-05);
    border: 2px solid var(--main-100);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    padding: 4px;
    gap: 4px;
}

.stop-searcher-exit-btn {
    width: 100px;
    height: 100%;
    border-radius: 12px;
    background-color: var(--main-50);
    color: var(--main-100);
    border: 2px solid var(--main-100);
    font-weight: bold;
}

.stop-searcher-search-number {
    height: 100%;
    width: calc(100% - 100px - 8px);
    border-radius: 12px;
    background-color: var(--main-50);
    color: var(--main-100);
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--main-100);
}

.stop-searcher-section-2 {
    height: calc(50vh - 50px);
    padding: 4px;
    width: calc(100vw-32px);
    margin-top: 4px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 4px;
}

.stop-searcher-s2-container {
    border-radius: 16px;
    overflow: scroll;
    background-color: var(--main-05);
    border-radius: 16px;
    height: 100%;
    padding: 4px;
}

.stop-searcher-section-3 {
    height: 50vh;
    padding: 4px;
    width: calc(100vw-32px);
    margin-top: 4px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.stop-searcher-route-btn {
    width: 100%;
    background-color: var(--main-50);
    color: var(--main-100);
    text-align: left;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    height: 15%;
    margin-bottom: 4px;
    border: 2px solid var(--main-100);
    border-radius: 12px;
    font-weight: bold;
}

.stop-searcher-route-btn:hover {
    background-color: lightgrey;
}

.stop-searcher-route-btn:disabled {
    background-color: grey;
    color: darkgrey;
}
