.stop-searcher-container {   
    position: absolute;
    inset: 0;
    z-index: 10;
    width: 100vw !important;
    display: flex;
    flex-direction: column;  
    width: 100vw;
    background-color: var(--secondary-100);
}

.stop-searcher-section-1 {
    height: 64px;
    padding: 16px;
    padding-top: 16px;
    padding-bottom: 4px;
    box-sizing: border-box;
}

.stop-searcher-s1-container {
    background-color: var(--main-05);
    border: 2px solid var(--main-100);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    padding: 4px;
    gap: 4px;
    box-sizing: border-box;
}

.stop-searcher-exit-btn {
    width: 100px;
    height: 100%;
    border-radius: 12px;
    background-color: var(--main-50);
    color: var(--main-100);
    border: 2px solid var(--main-100);
    font-weight: bold;
    box-sizing: border-box;
    flex-shrink: 0;
}

.stop-searcher-search-number {
    flex: 1; 
    height: 100%;
    border-radius: 12px;
    background-color: var(--main-50);
    color: var(--main-100);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--main-100);
    box-sizing: border-box;
}

.stop-searcher-section-2 {
    height: calc(50vh - 64px - 20px - 20px);
    padding: 4px;
    width: calc(100vw-32px);
    margin-top: 4px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 4px;
}

.stop-searcher-s2-container {
    border-radius: 16px;
    overflow: scroll;
    background-color: var(--main-05);
    border-radius: 16px;
    height: 100%;
    padding: 4px;
}

.stop-searcher-section-3 {
    height: 50vh;
    padding: 4px;
    width: calc(100vw-32px);
    margin-top: 4px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.stop-searcher-route-btn {
    text-overflow: ellipsis;
    width: 100%;
    background-color: var(--main-50);
    color: var(--main-100);
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    margin-bottom: 4px;
    border: 2px solid var(--main-100);
    border-radius: 12px;
    font-weight: bold;
}

.stop-searcher-route-btn:hover {
    background-color: lightgrey;
}

.stop-searcher-route-btn:disabled {
    background-color: grey;
    color: darkgrey;
}
